* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

body {
  font-family: 'Work Sans';
}

header {
  background-color:rgba(255, 144, 14, 0.1);
  color: #131313;
  padding-top: 50px;
  padding-bottom: 45px;
  
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
padding-left: 240px;
    padding-right: 240px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
    margin: 0 10px;
    
}

nav ul li a {
color: #424242;
  text-decoration: none;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
}

h1 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #131313;
    margin-bottom: 20px;
}
h2{
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 53px;
        color: #131313;
}

p {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #727272;
}

.btn-primary {
    color: #FFFFFF;
    border: 0;
    padding: 18px 35px;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    margin-top: 32px;
    margin-bottom: 166px;
}


.image{
        width: 1440px;
        height: 700px;
        border-radius: 8px;
}

main {
    max-width: 1300px;
    margin: 0 auto;
}

section {
    margin-top: 130px;
}
.our-feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-feature-text {
    margin-left: 70px;
}


#enjoy-feature {
    position: absolute;
}

#ef-text {
    width: 586px;
    height: 982px;
    position: absolute;
    left: 0px;
    top: 39px;
}

#ef-heading {
    color: rgb(19, 19, 19);
    text-overflow: ellipsis;
    font-size: 45px;
    font-family: "Work Sans", sans-serif;
    font-weight: initial;
    text-align: left;
    width: 468px;
    position: absolute;
    left: 26px;
    top: 0px;
}

#ef-para {
    color: rgb(114, 114, 114);
    text-overflow: ellipsis;
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
    font-weight: initial;
    line-height: 26px;
    text-align: left;
    width: 586px;
    position: absolute;
    left: 0px;
    top: 130px;
}

#card-container {
    width: 586px;
    height: 744px;
    position: absolute;
    left: 0px;
    top: 238px;
}

#card1 {
    width: 586px;
    height: 171px;
    position: absolute;
    left: 0px;
    top: 0px;
}

#blank-div {
    width: 586px;
    height: 171px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    background-color: white;
    border-radius: 8px;
    position: absolute;
    left: 0px;
    top: 0px;
}

#cards {
    width: 514px;
    height: 111px;
    position: absolute;
    left: 30px;
    top: 30px;
}

#card-heading {
    color: rgb(19, 19, 19);
    text-overflow: ellipsis;
    font-size: 20px;
    font-family: "Work Sans", sans-serif;
    font-weight: initial;
    text-align: left;
    position: absolute;
    left: 3px;
    top: 0px;
}

#card-text {
    color: rgb(114, 114, 114);
    text-overflow: ellipsis;
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
    font-weight: initial;
    line-height: 26px;
    text-align: left;
    width: 514px;
    position: absolute;
    left: 0px;
    top: 33px;
}

#card2 {
    width: 586px;
    height: 171px;
    position: absolute;
    left: 0px;
    top: 191px;
}

#card3 {
    width: 586px;
    height: 171px;
    position: absolute;
    left: 0px;
    top: 382px;
}

#card4 {
    width: 586px;
    height: 171px;
    position: absolute;
    left: 0px;
    top: 573px;
}

#right-div {
    width: 800px;
    height: 1059px;
    position: absolute;
    left: 640px;
    top: 0px;
}

#archi-img {
    width: 708px;
    height: 982px;
    object-fit: cover;
    position: absolute;
    left: 92px;
    top: 0px;
}

#right-side {
    width: 342px;
    height: 200px;
    position: absolute;
    left: 0px;
    top: 859px;
}

#button {
    width: 342px;
    height: 200px;
    background-color: rgb(255, 144, 14);
    border-radius: 8px;
    position: absolute;
    left: 0px;
    top: 0px;
}

#btn-txt {
    color: white;
    text-overflow: ellipsis;
    font-size: 45px;
    font-family: "Work Sans", sans-serif;
    font-weight: initial;
    line-height: 40px;
    text-align: center;
    width: 258px;
    position: absolute;
    left: 42px;
    top: 46px;
}

#facts{
    position: absolute;
}

#RootWrapperSomeFacts {
    position: absolute;
    color: rgb(19, 19, 19);
    text-overflow: ellipsis;
    font-size: 45px;
    font-family: "Work Sans", sans-serif;
    font-weight: initial;
    text-align: left;
}